#home-nav::after,
.contact a::after {
  content: "";
  display: none;
}
.nav {
  text-align: center;
  margin: 10px;
  height: 45px;
  position: fixed;
  z-index: 2;
  transition: all 0.2s ease;
  cursor: pointer;
}
.nav img {
  height: 45px;
}
.nav a {
  z-index: 1;
  text-decoration: underline;
  justify-self: start;
}
.blog-entries {
  margin-top: 25px;
}
