.blog-image{
  width: 100%;

}
.blog-header{
  position: relative;
  color: #fff;
}
.blog-nav{
  position: absolute;
  margin: 25px;
}
.blog-nav img{
  height: 35px;
}
.blog-nav a{
  font-size: 15px;
  color: #fff;
}
.blog a::after{
  content: '';
  display: none;
}
.blog-header h1 {
  position: absolute;
  text-transform: uppercase;
  letter-spacing: 15px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -150%);
}
.blog-body{
  position: relative;
  margin: 0 auto;
  max-width: 960px;
  padding: 25px;
}
.blog-entries{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.blog-entry{
  display: grid;
  grid-template-columns: 1fr 1fr; 
  max-width: 100%;
  margin: 15px;
  align-items: center;
}
.blog-entry img{
  max-width: 100%;
   -webkit-filter: grayscale(1);
  filter: grayscale(1);
}
.blog-entry-title{
  margin-left: 20px;
}

@media only screen and (min-width:768px) {
  .blog-body{
    max-width: 50%;
    position: absolute;
    left: 50%;
    margin-top: -100px;
    margin-left: calc(-25% - 50px);
    padding: 50px 50px;
    background: #fff;
  }
}
