.blog-home a::after,.nav a::after {
  content: '';
  display: none;
}
.nav{
  text-align: center;
  margin: 10px;
  height: 45px;
  position: fixed;
  z-index: 2;
  transition: all .2s ease;
  cursor: pointer;
}
.nav img{
  height: 45px;
}
.nav a{
  z-index: 1;
  color: black;
  text-decoration: underline;
  justify-self: start;
}
.blog-entries{
  margin-top: 25px;
}
.blog-entry{
  display: grid;
}

@media only screen and (min-width: 540px){
  .blog-entry{
    grid-template-columns: 1fr 1fr;
  }
  .blog-entry-details-container{
    margin-left: 20px;
    margin-top: 0px;
  }
}
