.blog-image{
  width: 100%;
  position: fixed;
  z-index: 1;
}
.blog-header{
  position: relative;
  color: #fff;
}
.blog-nav{
  position: absolute;
  margin: 25px;
  position: fixed;
  z-index: 2;
}
.blog-nav img{
  height: 35px;
}
.blog-nav a{
  z-index: 1;
  font-size: 15px;
  color: #fff;
}
.blog a::after{
  content: '';
  display: none;
}
.blog-header h1 {
  position: absolute;
  text-transform: uppercase;
  letter-spacing: 15px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -150%);
}
.blog-body{
  position: relative;
  margin: 0 auto;
  max-width: 960px;
  padding: 25px;
}
.blog-entries{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 25px;
  font-size: 13px;
}
.blog-entry{
  display: grid;
  max-width: 100%;
  margin: 15px;
  align-items: center;
}
.blog-entry img{
  max-width: 100%;
   -webkit-filter: grayscale(1);
  filter: grayscale(1);
}
.blog-entry-image{
  overflow: hidden;
}
.blog-entry-title{
  margin-left: 0px;
  margin-top: 15px;
}
.blog-body{
  width: auto;
  position: absolute;
  margin-top: 30%;
  padding: 50px 50px;
  background: #fff;
}
.blog-entry-image-container{
  overflow: hidden;
}
.blog-entry-image{
  transform: scale(1);
  transition: all .2s ease;
}
 .blog-entry-image.blog-entry-image-zoom{
  transform: scale(1.3);
}
.blog-post.blog-image{
  margin-top: -35%;
}

@media only screen and (min-width:768px) {
  .blog-body{
    width: 50%;
    position: absolute;
    left: 50%;
    margin-top: 150px;
    margin-left: calc(-25% - 50px);
    padding: 50px 50px;
    background: #fff;
    z-index: 3;
  }
}

@media only screen and (min-width: 540px){
  .blog-entry{
    grid-template-columns: 1fr 1fr;
  }
  .blog-entry-title{
    margin-left: 20px;
    margin-top: 0px;
  }
}
