@import url("https://fonts.googleapis.com/css?family=Inconsolata&display=swap");
@import url("https://rsms.me/inter/inter.css");

@font-face {
  font-family: 'Soehne';
  src: url('./fonts/soehnebreit/soehne-breit-web-extrafett.eot'); /* IE9 Compat Modes */
  src: url('./fonts/soehnebreit/soehne-breit-web-extrafett.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('./fonts/soehnebreit/soehne-breit-web-extrafett.woff2') format('woff2'), /* Super Modern Browsers */
       url('./fonts/soehnebreit/soehne-breit-web-extrafett.woff') format('woff'), /* Pretty Modern Browsers */
}

:root {
  --color-light: #ebeae9;
  --color-mid: #9e9e9e;
  --color-neutral: #1c1c1c;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

html {
  font-family: "Inter var", sans-serif;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  background: #ebeae9;
}

body {
  margin: 0px;
  font-size: 1rem;
  color: var(--color-neutral);
  counter-reset: section;
  overflow-X: hidden;
}

h1,
b,
h3,
a {
  font-weight: 670;
  display: inline-block;
  margin-bottom: 0;
}

h1, h2 {
  font-family: 'Soehne', sans-serif;
  span {
    color: #ff00ff;
    mix-blend-mode: multiply;
    position: relative;
    display: block;
    &:before, &:after {
      content: attr(data-text);
      position: absolute;
      top:0;
      left:0;
    }
    &:before {
      mix-blend-mode: multiply;
      color: #00ffff;
      margin-left: 2px;
      
    }
    &:after {
      mix-blend-mode: multiply;
      color: #ffff00;
    }
  }
}

h1 {
  font-size: 3.5rem;
  position: relative;
  margin-top: 25px;
  padding-bottom: 25px;
  margin-bottom: 60px;
  text-transform: uppercase;
  line-height: .8;
  &::after {
    content: '';
    position: absolute;
    height: 20px;
    width: calc(100vw - 35px);
    bottom: -25px;
    left: 0;
    background-color: var(--color-neutral);
  }
}

.blog h1 {
  font-size: 2.5rem;
}

h2 {
  font-size: 2.5rem;
  position: relative;
  text-transform: uppercase;
  line-height: .8;
}

h3 {
  margin: 0;
  font-size: 1.5rem;
}

p {
  line-height: 1.3;
}

li {
  list-style: none;
}

a {
  color: black;
  text-decoration: none;
}

.content-container {
  margin: 0 auto;
  max-width: 800px;
}

.nav {
  counter-reset: navigation;
  display: grid;
  grid-auto-flow: column;
  justify-content: space-between;
  margin: 50px 35px 0;
  .nav-link {
    display: none;
  }
  .app-icon {
    height: 50px;
    position: absolute;
    mix-blend-mode: multiply;
  }
  #blue-icon {
    margin-left: 2px;
  }
  .header-contact {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-items: center;
    height: 58px;
    width: 58px;
    img {
      height: 17px;
    }
  }
}

.content-body {
  margin: 35px;
  width: auto;
}

.subsection {
  position: relative;
  margin-bottom: 75px;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-gap: 16px; // (or 1.142857143rem)
  h1, h2 {
    grid-column: 1 / span 6;
  }
  >div {
    grid-column: 2 / span 9;

  }
}

.project {
  margin-bottom: 25px;
}

.project-date,
.blog-date,
.contact-handle {
  font-family: "Inconsolata", monospace;
}

.project-date,
.blog-date {
  font-size: 0.75rem;
  text-transform: uppercase;
  color: var(--color-mid);
}

.blog-date {
  position: absolute;
  left: 0;
  margin-top: -1.3rem;
}

.blog-description {
  margin: .5rem 0 2rem;
}

.project-tags {
  font-size: 1rem;
  color: var(--color-mid);
  text-transform: uppercase;
}

.project-tag {
  font-size: 0.625rem;
  border: 1px solid var(--color-mid);
  margin-right: 10px;
  border-radius: 4px;
  padding: 2px 5px 2.5px;
  display: inline-block;
}

.svg-container {
  display: block;
  height: 50vh;
  width: 70vh;
  position: fixed;
  z-index: -1;
  svg {
    transform: scale(.5);
    opacity: .4;
  }
  &.svg-top {
    top: -10rem;
    right: -6rem;
    svg {
      transform: scale(1);
    }
  }
  &.svg-bottom {
    display: none;
  }
}

.contact img {
  height: 25px;
  margin-right: 20px;
}

.contact-link {
  display: flex;
  align-items: center;
  .contact-handle {
    font-weight: normal;
    color: var(--color-mid);
    font-size: 15px;
  }
}

@media only screen and (min-width: 450px) {
  h1 {
    font-size: 5rem;
    line-height: .76;
    margin-top: 100px;
  }

  .blog h1 {
    font-size: 3.2rem;
  }

  h2 {
    font-size: 3rem;
    line-height: .75;
    &::before {
      counter-increment: section 1;
      content: "0" counter(section);
      font-size: 0.625rem;
      font-weight: normal;
      top: calc(50% - 2px);
      left: -60px;
      position: absolute;
      color: var(--color-mid);
      font-family: "Inconsolata", monospace;
    }
    &::after {
      content: "";
      width: 35px;
      height: 1px;
      top: calc(50% + 3px);
      left: -45px;
      background-color: var(--color-mid);
      position: absolute;
    }
  }

  .content-body {
    margin: 0 65px 65px;
  }

  .nav {
    margin: 50px 65px 0;
  }

  .back-button {
    position: fixed;
    top: 75px;
    margin-left: 15px;
    z-index: 2;
    cursor: pointer;
    background: transparent;
    border: none;
    &:focus {
      outline: none;
    }
    img {
      height: 30px;
    }
  }
}

@media only screen and (min-width: 768px) {
  h1 {
    font-size: 7rem;
  }

  .blog h1 {
    font-size: 5rem;
  }

  h2 {
    font-size: 4rem;
  }

  .about-text {
    display: grid;
    div {
      grid-area: column-1;
    }
    p {
      margin-top: 0;
    }
  }

  .project {
    grid-column-end: span 5;
  }

  .project:nth-of-type(even) {
    grid-column-start: 8;
  }

  .nav .nav-link {
    display: block;
    margin-top: 1rem;
    position: relative;
    &:nth-of-type(n+3) {
      counter-increment: navigation
    }
    &::before {
      content: "0" counter(navigation);
      font-size: 0.625rem;
      font-weight: normal;
      left: -1rem;
      position: absolute;
      color: var(--color-mid);
      font-family: "Inconsolata", monospace;
    }
  }

  .svg-container {
    &.svg-bottom {
      display: block;
      left: -15rem;
      bottom: 7rem;
      transform: scaleX(-1);
    }
  }

  .subsection {
    >div {
      grid-column: 2 / span 5;
    }
    .blog-entries.section {
      grid-column: 2 / span 7;
    }
  }
}