@import url('https://fonts.googleapis.com/css?family=Playfair+Display:900&display=swap');

html {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  background: #fff;
}
body {
  margin: 0px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
li{
  list-style: none;
}
.blog-entry-title, a {
  color: black;
  text-decoration: none;
  position: relative;
  -webkit-text-decoration-skip: objects;
  &::after{
    content:'';
    height: 25%;
    width: 100%;
    position: absolute;
    background: #ff2000;
    opacity: .35;
    left: 0%;
    bottom: 14%;
    transition: all .2s ease;
  }
}
a:hover::after{
  content:'';
  height: 5%;
}
.header-image{
  display: none;
}
.contact{
  margin: 10px 0;
}
.about{
  font-size: 25px;
}
.subsection{
  margin-bottom: 50px;
  &.contact{
    display: block;
  }
  .contact{
    margin-top: 0;
  }
}
.subsection-header{
  margin: 0;
}
.leftbar-contact{
  display: none;
}

@media only screen and (min-width:768px) {
  .left{
    position: fixed;
    width: 40vmin;
  }
  .right{
    margin-left: 40vmin;
  }
  .about{
    font-size: 35px;
  }
  .subsections{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
  .subsection{
    &.work{
      margin-left: -15px;      
    }
    &.contact{
      display: none;
    }
  }
  .header-image{
    height: 45vmin;
    display: block;
  }
  .leftbar-contact{
    display: block;
  }
}
