@import url('https://fonts.googleapis.com/css?family=Playfair+Display:900&display=swap');

html {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  background: #fff;
}
body {
  margin: 0px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
h1, b, h3, a{
  font-weight: bold;
  display: inline-block;
  margin-bottom: 0;
}

li{
  list-style: none;
}
svg{
  display: none;
}
a {
  color: black;
}
.content-body{
  width: auto;
  padding: 50px 70px;
}
@keyframes dash {
  100%{
    stroke-dashoffset: 0;
    stroke: black;
  }
}

@media only screen and (min-width:1199px) {
  svg{
    display: block;
    position: fixed;
    height: 300px;
    bottom: -20px;
    right: -20px;
    transition: all 2s ease;
  }
  path {
    stroke: black;
    stroke-dasharray: 1000;
    stroke-dashoffset: 1000;
    animation: dash 2.5s linear forwards;
  }
}

