html {
  font-family: 'Helvetica', sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  background: #fff;
}
body {
  margin: 0px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
li{
  list-style: none;
}
a {
  color: black;
  text-decoration: none;
  position: relative;
  -webkit-text-decoration-skip: objects;
}
a::after{
  content:'';
  height: 25%;
  width: 100%;
  position: absolute;
  background: #ff2000;
  opacity: .35;
  left: 0%;
  bottom: 20%;
  transition: all .2s ease;
}
a:hover::after{
  content:'';
  height: 5%;
}
.header-image{
  display: none;
}
.contact{
  margin: 10px 0;
}
.about{
  font-size: 25px;
}
.subsection{
  margin-bottom: 50px;
}
.subsection-header{
  margin: 0;
}

@media only screen and (min-width:768px) {
  .left{
    position: fixed;
    width: 40vmin;
  }
  .right{
    margin-left: 40vmin;
  }
  .about{
    font-size: 35px;
  }
  .subsections{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
  .subsection.work{
    margin-left: -15px;
  }
  .header-image{
    height: 45vmin;
    display: block;
  }
}
