html {
  font-family: 'Helvetica', sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  background: #fff;
}
body {
  margin: 25px 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
a {
  color: red;
  text-decoration: none;
  -webkit-text-decoration-skip: objects;
}
li{
  list-style: none;
}
.contact{
  width: 50%;
}
.contact{
  display: grid;
  grid-auto-columns: 1fr;
  grid-auto-flow: column;
}
.contact-icon{
  display: block;
  height: 4vmin;
}
.contact-title{
  display: none;
}
.about{
  font-size: 25px;
}
.about a {
  color: black;
  text-decoration: none;
  position: relative;
  -webkit-text-decoration-skip: objects;
}
.about a::after{
  content:'';
  height: 25%;
  width: 100%;
  position: absolute;
  background: #ff2000;
  opacity: .3;
  left: 0%;
  bottom: 20%;
  transition: all .2s ease;
}
.about a:hover::after{
  content:'';
  height: 5%;
}
.header-image{
  display: none;
}
.subsection{
  margin-bottom: 50px;
}
.subsection-header{
  margin: 0;
}
.blog-image{
  width: 100%;
}
.blog-header{
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
@media only screen and (min-width:768px) {
  body{
    margin: 0;
  }
  .left{
    position: fixed;
    width: 40vmin;
  }
  .right{
    margin-left: 40vmin;
  }
  .about{
    font-size: 35px;
  }
  .subsections{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
  .subsection.work{
    margin-left: -15px;
  }
  .header-image{
    height: 45vmin;
    display: block;
  }
  .contact{
    display: flex;
    flex-direction: column;
  }
  .contact-icon{
    display: none;
  }
  .contact-title{
    display: block;
    margin: 0;
  }
}
